code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main {
}
.main__title {
  margin-top: 0;
  margin-bottom: 10px;
}
.main__sub-title {
  margin-top: 0;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  text-align: justify;
}
.main__endpoints {
}
.main__link{}
.endpoints {
}
.endpoints__list {

}
.endpoints__item {
}
